<html>
  <head>
    <%= stylesheet_link_tag '/stylesheets/mailers/welcome_email.css' %>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to A Somm For You, <%= @user.username %></h1>
    <p>
      You have successfully signed up to asommforyou.com,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this <a href=<%= @url %>>link</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>